<div class="container">
  <div class="projectContainer">
    <h2 class="heading">
      <span class="headingMain" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">Projects</span>
      <span class="headingSub" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Here you will find some of the personal and clients projects on that i
        worked with their source code and live link.
      </span>
    </h2>

    <app-project-items Responsive>
      <img src="../../../assets/projects/Screenshot from 2024-10-17 11-26-22.png" alt="Software Screenshot"
        class="projectsRowImg" loading="lazy" />
      <h3 class="projectsRowContentTitle" data-aos="fade-down-left" data-aos-delay="120" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        ToDoList
      </h3>
      <p class="projectsRowContentDesc" data-aos="fade-left" data-aos-delay="150" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        A Simple TODO list app in Angular, Node.js and MongoDB. This app is a classic project for starter
      </p>
      <div class="tools" data-aos="zoom-in-left" data-aos-delay="190" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        <div class="toolsName" *ngFor="let tools of firstPoject">
          {{ tools.name | uppercase }}
        </div>
      </div>
      <button mat-raised-button class="livBtn" (click)="projectOne()">
        Live Link
      </button>
    </app-project-items>

    <app-project-items Responsive>
      <img src="../../../assets/projects/project.png" alt="Software Screenshot" class="projectsRowImg" loading="lazy" />
      <h3 class="projectsRowContentTitle" data-aos="fade-down-left" data-aos-delay="120" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Cooptex
      </h3>
      <p class="projectsRowContentDesc" data-aos="fade-left" data-aos-delay="150" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        Developed and implemented a comprehensive ERP system to optimize and streamline business processes.
        Integrated key modules such as inventory, sales, and finance, ensuring smooth and efficient data flow between
        departments.Leveraged Angular for dynamic, responsive front-end development and PostgreSQL for secure and scalable database
        management. Collaborated closely with cross-functional teams to enhance system performance and ensure seamless user
        experience.
      </p>
      <div class="tools" data-aos="zoom-in-left" data-aos-delay="190" data-aos-duration="500"
        data-aos-easing="ease forwards" data-aos-offset="100" data-aos-once="true">
        <div class="toolsName" *ngFor="let tools of secoundProject">
          {{ tools.name | uppercase }}
        </div>
      </div>
      <button mat-raised-button class="livBtn" (click)="projectTwo()">
        Live Link
      </button>
    </app-project-items>

     <app-project-items Responsive>
      <img
        src="../../../assets/projects/project.png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      Angular-16-Node.js-Express-MySQL-example-CRUD-Application
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      In this tutorial, I will show you how to build a full-stack (Angular 16 + Node.js + Express + MySQL) example with a CRUD Application. The back-end server uses Node.js + Express for REST APIs, front-end side is an Angular App with HTTPClient.
      </p>
      <div
        class="tools"
        data-aos="zoom-in-left"
        data-aos-delay="190"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        <div class="toolsName" *ngFor="let tools of thirdProject">
          {{ tools.name | uppercase }}
        </div>
      </div>
      <button mat-raised-button class="livBtn" (click)="projectThree()">
        Live Link
      </button>
      
    </app-project-items> 


  </div>
</div>